main.home {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .chat {
        display: flex;
        flex-flow: column;
        height: 200px;
        width: 300px;

        .messages {
            flex: 1;
            overflow-y: scroll;
        }
    }
}